
tr, td, th{
    text-align: center !important;
}
.cell-name {
    .top {
        color: #f04134;
        font-size: 14px;
    }
    .bottom {
        color: #5a5a5a;
        font-size: 12px;
    }
}

.bottom-btn {
    margin-top: 8px;
}