.login-form {
    max-width: 400px;
    margin: 200px auto;
    padding: 20px;
    padding-bottom: 55px;
    border-radius: 10px;
    background-color: #ffffff;
}
.login-form-forgot {
    float: right ;
}
.login-form-button {
    width: 100%;
}

.ant-row.ant-form-item.ant-form-item-with-help {
    height: 43px !important;
}