

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    background-color: #108ee9;
    color: #fff !important;
}

.arrow {
    color: #fff !important;
}

.custom-image img {
    display: block;
}
.custom-card {
    padding: 5px 8px;
}
.custom-card p {
    color: #999;
}

.ant-card {
    cursor: pointer;
}

.ant-card.ant-card-bordered {
    display: inline-block;
    margin: 5px;
}

.left-pagination {
    float: right;
    margin: 10px;
}