.ant-carousel .slick-slide {
    text-align: center;
    height: 460px;
    line-height: 460px;
    background: #364d79;
    color: #fff;
    overflow: hidden;
}

.img-con {
    width: 100%;
    height: 460px !important;
    overflow: hidden !important;
    .img-bg {
        width: 100%;
        height: auto;
    }
}